{{/*
SPDX-FileCopyrightText: 2020 Carl Schwan <carlschwan@kde.org>
SPDX-FileCopyrightText: 2021 Phu Hung Nguyen <phu@kde.org>
SPDX-License-Identifier: LGPL-3.0-or-later
*/}}

<a href="{{ .RelPermalink }}" class="app d-block text-center" data-popularity="{{ .Params.popularity }}" data-name="{{ .Params.name }}" data-categories="{{ jsonify .Params.categories }}" data-platforms="{{ jsonify .Params.platforms }}">
  {{ partial "icon.html" (dict "type" "app" "icon" .Params.icon "size" "80" "class" "icon" "name" .Params.name) }}
  <h4 class="mt-2 mb-1">{{ .Params.name }}</h4>
  <p class="mb-1">{{ .Params.GenericName }}</p>
</a>
