{{/*
SPDX-FileCopyrightText: 2020 Carl Schwan <carlschwan@kde.org>
SPDX-FileCopyrightText: 2022 Phu Hung Nguyen <phu.nguyen@kdemail.net>
SPDX-License-Identifier: GPL-3.0-or-later
*/}}

{{- $name := .Params.name }}
{{- $id := .Params.id }}

{{- $mastodonData := "" }}
{{- $mlData := "" }}{{ $develMlData := "" }}
{{- $matrixData := "" }}
{{- $ircData := "" }}
{{- $communityData := "" }}{{ $userbaseData := "" }}
{{- $devData := slice }}
{{- $apiData := "" }}{{ $legacyApiData := "" }}
{{- with (index site.Data.contacts $id) }}
  {{- $mlData = index . "ml" }}{{ $develMlData = index . "ml-devel" }}
  {{- $matrixData = index . "matrix" }}
  {{- $mastodonData = index . "mastodon" }}
  {{- $ircData = index . "irc" }}
  {{- $communityData = index . "community" }}{{ $userbaseData = index . "userbase" }}
  {{- $devData = index . "devs" }}
  {{- $apiData = index . "api" }}{{ $legacyApiData = index . "api-legacy" }}
{{- end }}
{{- $finalForum := "https://discuss.kde.org/c/help/6" }}
{{- $finalMl := or .Params.mailinglist $mlData }}{{ $finalDevelMl := or .Params.develMailingList $develMlData }}
{{- $finalMatrix := or .Params.matrixChannel $matrixData }}
{{- $finalMastodon := or .Params.mastodon $mastodonData }}
{{- $finalIrc := or .Params.irc $ircData }}

<aside class="details col-12 col-md-4 col-lg-3">
  <h3>{{ partial "fn/i18n_args" (slice "details" $name) }}</h3>
  {{- with .Params.homepage }}
  <i class="icon icon_view-web-browser-dom-tree"></i>&nbsp;
  <a href="{{ . }}">{{ i18n "website" }}</a><br/>
  {{- end }}
  {{- $defaultBugReport := "https://bugs.kde.org/enter_bug.cgi" }}
  <i class="icon icon_tools-report-bug"></i>&nbsp;
  <a href="{{ .Params.bugtracker | default (.Params.bug_report | default $defaultBugReport) }}">{{ i18n "report" }}</a>
  {{- with .Params.Repository }}
  <br/><i class="icon icon_code-context"></i>&nbsp;
  <a href="https://invent.kde.org/{{ . }}">{{ i18n "source" }}</a>
  {{- end }}
  {{- with $communityData }}
  <br/><i class="icon icon_user-group-new"></i>&nbsp;
  <a href="https://community.kde.org/{{ . }}">{{ i18n "community-wiki" }}</a>
  {{- end }}
  {{- with .Params.ProjectLicense }}
  <br/><i class="icon icon_license"></i>&nbsp;
    {{- $licenses := split . " " }}
    {{- $joints := slice "and" "AND" "or" "OR" }}
    {{- range $index, $license := $licenses }}
      {{- if and $index (not (in $joints $license)) }}
        {{ print " | " }}
      {{- end }}
      {{- if hasPrefix $license "LicenseRef-KDE-Accepted-" }}
    <a itemprop="license" href="https://community.kde.org/Policies/Licensing_Policy#{{ $license }}">{{ $license }}</a>
      {{- else if not (in $joints $license) }}
    <a itemprop="license" href="https://spdx.org/licenses/{{ $license }}.html">{{ $license }}</a>
      {{- end }}
    {{- end }}
  {{- end }}

  {{- if or .Params.help (or $userbaseData (or $finalForum (or $finalMl (or $finalMatrix $finalIrc)))) }}
  <h4>{{ i18n "get-help" }}</h4>
    {{- with .Params.help }}
    <i class="icon icon_address-book-new"></i>&nbsp;
    <a href="{{ . }}">{{ partial "fn/i18n_args" (slice "handbook" $name) }}</a><br/>
    {{- end }}
    {{- with $userbaseData }}
    <i class="icon icon_user-group-properties"></i>&nbsp;
    <a href="https://userbase.kde.org/{{ . }}">{{ i18n "userbase" }}</a><br/>
    {{- end }}
    {{- with $finalForum }}
    <i class="icon icon_dialog-messages"></i>&nbsp;
    <a href="{{ . }}">{{ i18n "forum" }}</a><br/>
    {{- end }}
    {{- with $finalMl }}{{ $ml := partial "fn/ml" . }}
    <i class="icon icon_mail-message-new-list"></i>&nbsp;
    <a href="{{ index $ml 0 }}">{{ index $ml 1 }}</a> {{ index $ml 2 }}<br/>
    {{- end }}
    {{- with $finalMatrix }}
    <picture><source srcset="/matrix-dark.svg" media="(prefers-color-scheme: dark)"><img src="/matrix.svg" height="18" /></picture>&nbsp;
    <a href="https://go.kde.org/matrix/#/{{ . }}">{{ . }}</a><br/>
    {{- end }}
    {{- with $finalIrc }}
      {{/* In the absence of an official irc: scheme, most clients assume the leading # is not part of the url */}}
      {{- $urlChannelName := . }}
      {{- if hasPrefix $urlChannelName "#" }}
        {{- $urlChannelName = substr $urlChannelName 1 }}
      {{- end }}
    <i class="icon icon_irc-channel-active"></i>&nbsp;
    <a href="irc://irc.libera.chat/{{ $urlChannelName }}">{{ . }}</a> {{ i18n "on-irc-network" }}<br/>
    {{- end }}
    {{- with $finalMastodon }}
    <picture><img src="/mastodon.svg" height="18" /></picture>&nbsp;
    <a rel="me" href="{{ . }}">{{ i18n "mastodon" }}</a>
    {{- end }}
  {{- end }}

  {{- if or (or $finalDevelMl (or $devData (or .Params.bug_list (or $apiData (or $legacyApiData .Params.project_identifier))))) .Params.contribute }}
  <h4>{{ i18n "get-involved" }}</h4>
    {{- with .Params.contribute }}
    <i class="icon icon_vcs-merge-request"></i>&nbsp;
    <a href="{{ . }}">{{ i18n "how-to-contribute" }}</a><br/>
    {{- end }}
    {{- with $finalDevelMl }}{{ $ml := partial "fn/ml" . }}
    <i class="icon icon_mail-message-new-list"></i>&nbsp;
    <a href="{{ index $ml 0 }}">{{ index $ml 1 }}</a> {{ index $ml 2 }}<br/>
    {{- end }}
    {{- with $devData }}
    <i class="icon icon_gnumeric-link-url"></i>&nbsp;
      {{- i18n "dev-blogs" }}
      {{- range $index, $blog := . }}
        {{- if ne $index 0 }}{{ print " | " }}{{ end }}
    <a href="{{ $blog.url }}">{{ $blog.name }}</a>
      {{- end }}<br/>
    {{- end }}
    {{- with .Params.bug_list }}
    <i class="icon icon_messagebox_warning"></i>&nbsp;
    <a href="{{ . }}">{{ i18n "bug-list" }}</a><br/>
    {{- end }}
    {{- with $apiData }}
    <i class="icon icon_format-text-code"></i>&nbsp;
    <a href="https://api.kde.org/{{ . }}/html/index.html">{{ i18n "api-doc" }}</a><br/>
    {{- end }}
    {{- with $legacyApiData }}
    <i class="icon icon_format-text-code"></i>&nbsp;
    <a href="https://api.kde.org/legacy/4.14-api/{{ . }}/html/index.html">{{ i18n "legacy-api-doc" }}</a><br/>
    {{- end }}
    {{- with .Params.project_identifier }}
    <img src="/aether/languages.png" height="18" />&nbsp;
    <a href="https://l10n.kde.org/stats/gui/trunk-kf6/package/{{ . }}/">{{ i18n "l10n-trunk-gui" }}</a> -
    <a href="https://l10n.kde.org/stats/doc/trunk-kf6/package/{{ . }}/">{{ i18n "l10n-doc" }}</a> |
    <a href="https://l10n.kde.org/stats/gui/stable-kf6/package/{{ . }}/">{{ i18n "l10n-stable-gui" }}</a> -
    <a href="https://l10n.kde.org/stats/doc/stable-kf6/package/{{ . }}/">{{ i18n "l10n-doc" }}</a><br/>
    {{- end }}
  {{- end }}

  {{ with .Params.authors }}
    <div>
      <b>{{ i18n "authors" }}</b>
      <ul class="inline-list">
        {{ range . }}
          <li itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span itemprop="name">{{ index . 1 }}</span>
            {{ with index . 3 }}
              (<a itemprop="url" href="{{ . }}">{{ . }}</a>)
            {{ end }}
          </li>
        {{ end }}
      </ul>
    </div>
  {{ end }}
  {{ with .Params.credits }}
    <div>
      <b>{{ i18n "details.thanks" }}</b>
      <ul class="inline-list">
        {{ range . }}
          <li itemscope itemtype="http://schema.org/Person">
            <span itemprop="name">{{ index . 1 }}</span>
            {{ with index . 3 }}
              (<a itemprop="url" href="{{ . }}">{{ . }}</a>)
            {{ end }}
          </li>
        {{ end }}
      </ul>
    </div>
  {{ end }}
</aside>
